            /* STYLE CSS */
/* ---------------------------------- */
/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ---------------------------------- */
/* Fonts */
@font-face {
    font-family:"NameFont";
    src: url("");
}
body{
    background-color: #000000;
}

/* ---------------------------------- */
/* Canvas en arrière-plan */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
}
/* ---------------------------------- */
/* Conteneur connexion */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* ---------------------------------- */
/* Titre en haut */
.title{
    position: relative;
    z-index: 1;
    padding: 1rem;
}

.container h1{
    color: #00ff00;
    font-size: 29px;
}
.container h1::first-letter{
    text-transform: uppercase;
}
/* ---------------------------------- */
.connection {
    background-color: #000000b3;
    border-radius: 10px;
    box-shadow: 0 0 20px #00ff0066;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.connection p {
    font-family: Arial, sans-serif;
    font-size: 23px;
    color: #00ff00;
}

/* Formulaire de connexion */
form{
    padding: 1rem;
}

.connection label {
    display: block;
    margin-top: 1rem;
    color: #00ff00;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.connection input {
    width: 20rem;
    padding: 0.5rem;
    margin-top: 0.4rem;
    border: none;
    border-radius: 5px;
    background: #111;
    color: #ffffff;
    outline: none;
    font-size: 18px;
}
/* ---------------------------------- */
/* BUTTON CONNEXION */
.connection .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.connection .cta button{
    padding: 0.5rem 0.7rem;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border: 1px solid #ffffff7c;
    font-size: 14px;
    border-radius: 5%;
    font-weight: 500;
}

.connection .cta button:hover{
    background-color: #00ff008c;
    color: #ffffff;
}
/* ---------------------------------- */